// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//ionic
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*@font-face {
  font-family: Farsan;
  src: url('../assets/fonts/VEMwRoJ0vY_zsyzK3aWo.woff2');
}
*{
  font-family: Farsan;
}*/





@font-face {
  font-family: Josefin-Slab;
  src:url('../assets/fonts/lW-5wjwOK3Ps5GSJlNNkMalnqg6v.woff2');
}
@font-face {
  font-family: Roboto;
  src:url('../assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2');
}

p {
  font-family: Roboto !important;
  //font-size: large;
  text-align: justify;
  //line-height: 120%;
}
button{
  font-family: Roboto !important;

}
/*
@font-face {
  font-family: Josefin-Slab-Bold;
  src:url('../assets/fonts/JosefinSlab-Bold.woff2');
}

@font-face {
  font-family: montserrat-bold;
  src: url('../assets/fonts/montserrat-bold.woff2');
}
ion-content,ion-picker-cmp{
  font-family: Josefin-Slab !important;
}
ion-title {
  font-family: Josefin-Slab-Bold !important;
}*/
span{
  font-family: Lato !important;
  font-size: large;
  text-align: justify;
  display: block;
}

@font-face{
  font-family: Lato;
  src: url('../assets/fonts/Lato.woff2') format('woff2');
}

*{
  font-family: Lato;
}

.wholeApp{
  background-color: #F5F5F5;
}

